<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="PruebaEstud" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-C4CFVU4\MSSQLSERVER2;Database=SistemaEstudiantes;User Id=sa;Password=123456"/>
	</connectionStrings>
</configuration>